@model IEnumerable<String>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Resources";
    List<Pulse.Models.Resources> MyResources = ViewBag.MyResources;
    List<Pulse.Models.Resources> Others = ViewBag.Others;
   
}






<h1>Resources</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Faculty"))
{
    <p>
        <a asp-action="UploadFile" asp-controller="Resources">Add Resource </a>
    </p>
}


@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Resources
                </th>
                <th>
                    Subject ID
                </th>
                <th>
                    Faculty
                </th>
                <th>
                    View
                </th>
            </tr>
        </thead>
        @if (Others.Any())
        {
            <tbody>

                @foreach (var item in Others)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectId)
                        </td>
                        <td>
                            <a asp-action="ViewProfile" asp-controller="Profile" asp-route-userid="@item.UserId"> @item.UserId </a> 

                        </td>
                        <td>
                            <a asp-action="ViewResources" asp-controller="Resources" asp-route-blobName="@item.FileName"> View </a>

                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <div class="card">
                <div class="card-header">No Resources</div>
            </div>
        }

    </table>

    @if (MyResources.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Resources Uploaded By Me.
                    </th>
                    <th>
                        Subject ID
                    </th>

                </tr>
            </thead>


            <tbody>
                @foreach (var item in MyResources)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectId)
                        </td>

                        <td>
                            <a asp-action="ViewResources" asp-controller="Resources" asp-route-blobName="@item.FileName"> View </a> |
                            <a asp-action="DeleteFile" asp-route-blobName="@item.FileName" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }



}

else
{
    <div class="card">
        <div class="card-header">No Resources</div>
    </div>

}

