@model IEnumerable<Pulse.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>ListCourses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LecturesPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseByFacultyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LecturesPerWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseByFacultyId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id= item.CourseId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                    </td>
                </tr>
            }
        }
        else
        {
            <div class="container">
                <h3>No Courses Added.</h3>
            </div>
        }
    </tbody>
</table>
